@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  
  --color-surface-dark: #1e1e24;
  --color-bg-dark: #121216;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}
